<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">

    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown"> ديوان العرب</h2>

                <p class="animate__animated animate__fadeInUp">
                    نحن شركة متخصصة في تقديم خدمات الاعمال السياحية ،
                    نقدم تجارب سفر لا تُنسى في العالم ،
                    انضم إلينا واكتشف جمال السفر وثقافات جديدة وتجارب مثيرة في الأماكن الأكثر روعة في المنطقة .
                </p>


            </div>
        </div>





</section><!-- End Hero -->



<br />
<br />


<!--11 about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/163.png" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                    <h1 style="text-align:right">نبذة عن شركة    </h1>
                    <br />
                    <h4 class="mt-md-4 mt-3" style="text-align:right">
                        نحن شركة  متخصصة في تقديم تجارب سفر استثنائية في العالم العربي. تقدم ديوان العرب تنظيم رحلات سياحية فريدة من نوعها، تركز على تلبية احتياجات العملاء وتقديم أعلى مستوى من الخدمة والراحة. نحن نؤمن بأن السفر يجلب السعادة والتجارب الجديدة ونسعى جاهدين لجعل كل رحلة ذكرى لا تُنسى.
                    </h4>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!-- middle -->
<!-- ======= Services Section ======= -->
<section class="services">
    <div class="container">
        <h2 class="title-big mb-md-5 mb-4 text-center" style="font-size:40px ; font:bold">
            تجربة عملائنا
        </h2>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title">توفير وقت وجهد</h4>
                    <p class="description">نحن نتولى جميع الترتيبات اللازمة لتجربتك السياحية، مما يوفر لك الوقت والجهد بشكل كبير.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-user"></i></div>
                    <h4 class="title">   خدمة العملاء الممتازة</h4>
                    <p class="description">فريق خدمة العملاء لدينا متواجد على مدار الساعة لتلبية جميع احتياجات عملائنا وتقديم الدعم اللازم.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bx-user-check"></i></div>
                    <h4 class="title"> فريق متخصص   </h4>
                    <p class="description">لدينا فريق من الخبراء ذوي الخبرة الواسعة في صناعة السياحة، جاهزون لتقديم الدعم والمشورة في جميع الأوقات.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4 class="title">مكاتب حديثة ومجهزة</h4>
                    <p class="description">نحرص على توفير مكاتب حديثة ومجهزة بأحدث التقنيات والمرافق، لتضمن راحة وسلامة عملائنا.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
@*


    <!-- //services page services section -->
    <section class="w3l-bottom-grids-6 py-5" id="allservices">
        <div class="container py-lg-5 py-md-4 py-2">
            <h2 class="title-big mb-md-5 mb-4 text-center" style="font-size:40px ; font:bold">
                تجربة عملائنا
            </h2>
            <div class="grids-area-hny main-cont-wthree-fea row">







                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-times"></span>
                        <h4><a href="#top5" class="title-head">توفير وقت وجهد</a></h4>
                        <p>نحن نتولى جميع الترتيبات اللازمة لتجربتك السياحية، مما يوفر لك الوقت والجهد بشكل كبير.</p>

                    </div>
                </div>



                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-user"></span>
                        <h4><a href="#top4" class="title-head">  خدمة العملاء الممتازة</a></h4>
                        <p>فريق خدمة العملاء لدينا متواجد على مدار الساعة لتلبية جميع احتياجات عملائنا وتقديم الدعم اللازم.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">
                        <span class="fa fa-users"></span>
                        <h4><a href="#top2" class="title-head">  فريق متخصص</a></h4>
                        <p>لدينا فريق من الخبراء ذوي الخبرة الواسعة في صناعة السياحة، جاهزون لتقديم الدعم والمشورة في جميع الأوقات.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box">

                        <span class="fa fa-building"></span>
                        <h4><a href="#top1" class="title-head">مكاتب حديثة ومجهزة</a></h4>
                        <p>نحرص على توفير مكاتب حديثة ومجهزة بأحدث التقنيات والمرافق، لتضمن راحة وسلامة عملائنا.</p>
                    </div>
                </div>


            </div>
        </div>
    </section>


*@



<!-- middle -->
<div class="middle py-5 mohamed" )">
    <div class="container py-lg-5 py-md-4">
        <div class="welcome-left text-center py-lg-3">
            <h1 class="title-big mb-4 mx-0 mw-100" style="color:white">فريق العمل</h1>
            <h5 class="pr-lg-5" style="color:white">
                خبراء في المجال
            </h5>
            <p style="color:white">
                نحن نفتخر بفريقنا المتخصص والمتحمس الذي يعمل بجد لتقديم أفضل الخدمات لعملائنا
            </p>

            <h5 class="pr-lg-5" style="color:white">
                ابتكار وابداع
            </h5>
            <p style="color:white">
                نحن دائمًا متطورون ومستعدون لتقديم حلول إبداعية لتلبية احتياجات عملائنا
            </p>

            <h5 class="pr-lg-5" style="color:white">
                التعاون والتفاهم
            </h5>
            <p style="color:white">
                نحن نؤمن بأهمية العمل الجماعي والتعاون معًا لتحقيق أهدافنا المشتركة
            </p>
        </div>
    </div>
</div>


















@*

        <div class="cards-list">

        <div class="card 1 main-social-footer-29 mt-4">

            <div class="card_image">



                <img src="~/Content/Image/For_Reser/2023092214434887.png" />


            </div>


            <div class="card_title title-white social">
                <h3 style="color:aliceblue">Mohamed Nasser</h3>
                <h4 style="color:aliceblue">Developer</h4>

            </div>

            <div class="main-social-footer-29 mt-4" style="text-align:center">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="https://instagram.com/diwan.alarab.egy?igshid=OGQ5ZDc2ODk2ZA==" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="https://x.com/fromcairo22/status/1698740557453938737?s=46" class="twitter"><span class="fa fa-github"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-whatsapp"></span></a>



            </div>
        </div>

        <div class="card 2">
            <div class="card_image">
                <img src="https://cdn.blackmilkclothing.com/media/wysiwyg/Wallpapers/PhoneWallpapers_FloralCoral.jpg" />
            </div>
            <div class="card_title title-white">
                <p>Card Title</p>
            </div>
        </div>

        <div class="card 3">
            <div class="card_image">
                <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
            </div>
            <div class="card_title">
                <p>Card Title</p>
            </div>
        </div>

        <div class="card 4">
            <div class="card_image">
                <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
            </div>
            <div class="card_title title-black">
                <p>Card Title</p>
            </div>
        </div>

    </div>




        <!-- about section -->
        <section class="w3l-text-6 py-5" id="about">
            <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
                <div class="container">
                    <div class="row top-cont-grid align-items-center">
                        <div class="col-lg-6 left-img pr-lg-4">

                            <img src="~/Content/Image/444444.png" alt="" class="img-responsive radius-image img-fluid" />
                        </div>
                        <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                            <h5>.تـــم تــأسيـس الحوكمة للاستـشارات والتـدريب فــي القاهرة كنتيجة حتمية لتراكم الخبرات والـمعرفة في هذا المجال، حيث المساهمة فـي تقــديم خـدماتنا مـن اسـتشارات وتـدريب ودعـم مــؤسســـاتي مجموعة من الخبراء والمستشارين والمدربين العرب والأجانب</h5>
                            <br />
                            <h5>
                                .خلال السنــوات المـــاضـية وحتـى نهـاية عام 2021 تــم تــقديــــم الخـــدمات الاستـــشارية والتـــدريبية للعـــديد من المؤسسات والشركات في العديد مــن الــدول منها: المملكة العربية السعودية والإمــــــارات العربية المتحدة –لبنان- السودان – ليبيا – اليمن -سوريا – سلطنة عمان – تركيا – إسبانيا – بريطانيا – مصر-الولايات المتحدة الأمريكية-الصين- روسيا-الاتحاد الأوروبي
                            </h5>
                            <h5>
                                .بدانا منذ عام 2014 فـي عدد من الدول العربية، انطـلاقاً مـن دولـة الإمـارات العربية المتحدة منذ عام 2015 حيث امتدت نشـاطاته في التـدريب والاسـتـشــارات على مدى اثني عشر عاماً لتشمل منطقة الشرق الأوسط وأوروبا
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //about section -->

        <section class="w3l-content-4 py-5" id="features">
            <div class="content-4-main py-lg-5 py-md-4 py-2" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
                <div class="container">
                    <div class="content-info-in row align-items-center">
                        <div class="content-left col-lg-6">
                            <div class="row content4-right-grids mb-sm-5 mb-4 pb-3">

                                <div class="col-10 content4-right-info pl-lg-5">

                                    <h5>
                                        انطلاقاً من أن الإنسان هو محور عملية التنمية المستدامة وهو هدفها، ولأن التنمية بجوانبها المتعددة لا تقوم إلا بالعمل المؤسسي، وهذه التنمية هي مسؤولية المؤسسات بالدرجة الأولى من خلال إداراتها وكوادرها وخططها وإنجازاتها، ولأن دولة الإمارات العربية المتحدة تحتل موقعاً ريادياً من خلال الأداء  الرفيع الذي تقدمه حكومتها وكافة المؤسسات فيها، لذلك فإننا نعمل في بيئة أعمال دائمة التطور والريادة، بيئة لا تسمح إلا بالتميز، نعي ضرورة تقديم تدريب نوعي يلبي هذه الاحتياجات التدريبية المتجددة للأفراد والمؤسسات والشركات على اختلاف نشاطاتها، تدريب يهدف في شقه الأول إلى تطوير المهارات الذاتية الفردية المتعلقة بالجدارات والقدرات الشخصية للفرد في موقعه المجتمعي والمؤسسي، وفي شقه الثاني يهدف إلى تطوير مهارات العمل ورفع مستوى الأداء في التخصصات الإدارية والمالية والمهنية والفنية، مراعين أن يكون تدريبنا مهنياً احترافياً يواكب متطلبات عصر منظومة الجيل الرابع للتميز الحكومي الذي انطلق في دولة الإمارات معلناً بداية مرحلة جديدة تتميز بالابتكار والتطوير المستمر، لا مكان فيها للأفكار والأعمال التقليدية
                                    </h5>
                                </div>
                            </div>


                        </div>
                        <div class="content-right col-lg-6 mt-lg-0 mt-5">
                            <img src="~/Content/images/جميع الدورات السلوكيه.jpeg" alt="" class="img-responsive radius-image img-fluid" />


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- middle -->
        <div class="middle py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="welcome-left text-center py-lg-3">
                    <h3 class="title-big mb-4 mx-0 mw-100">اهدافنا</h3>
                    <p class="pr-lg-5" style="color:white">
                        تقديم الخدمات التدريبية والاستشارية والحلول الاستراتيجية
                    </p>
                    <p class="pr-lg-5" style="color:white">
                        تزويد المتدرّبين بالخبراء الذين يقوموا بالتدريب والتأهيل وفق برامج متطورة ومستحدثة
                    </p>
                    <p class="pr-lg-5" style="color:white">
                        استخدام وسائل تدريب متطورة تدرك احتياجات العميل الحالية والمستقبلية
                    </p>
                    <p class="pr-lg-5" style="color:white">
                        استخدام أعلى المعايير المهنية وأحدث الأساليب في تقديم خدماتنا الاستشارية والتدريبية مع وجود أفضل المدربين والاستشاريين
                    </p>

                </div>
            </div>
        </div>
        <!-- //middle -->
        <br />
        <br />

        <div style="margin-right: 10%; margin-left: 10%; border: 1px outset #0c49e4; border-radius: 20px; padding: 15px; width: auto; height: auto; background-color: #afafafc2; text-align: center; align-items: center">
            <h2>:نقاط التميز</h2>
            <p style="font:x-large">.العلامة التجارية الأولى للالتزام الزمني </p>
            <p style="font:x-large">.نلتزم بالجداول الزمنية التي نضعها لتقديم خدمة تدريبية أو استشارية خلال سنوات عملها. حيث نتميز بتقديم خدماتنا وإنهاءها وفق جدول زمني يتفق علية وبجودة عالية </p>
            <br />
            <br />


            <h2>:طاقم تدريبي ذو مؤهلات عالية</h2>
            <p style="font:x-large">.التدريب المتميز لا يمكن الحصول عليه إلاّ من خلال خبراء ومدربين لديهم الخبرة العملية الطويلة في مجال التدريب، لذلك فإننا نستعين في تصميم وتنفيذ برامجنا بمجموعة متميزة من الخبراء والمدربين والرواد الممارسين من أصحاب الكفاءات العلمية والعملية من ذوي الخبرة العالمية والتدريبية مع وجود أفضل المدربين والاستشاريينالعلامة التجارية الأولى للالتزام الزمني </p>


            <br />
            <br />
            <h2>:الرؤية</h2>
            <p style="font:x-large">.تحقيق التميز العالمي في مجال تقديم خدمات التدريب و التطوير والاستشارات </p>




            <br />
            <br />
            <h2>:الرسالة</h2>
            <p style="font:x-large">.استثمار العقول المبدعة لتوطين وتقديم التدريب والخدمات الاستشارية في الإطار العالمي ، من خلال تقديم خدماتنا المتطورة والمتكاملة، ذات الجودة العالية التي تتحقق من خلالها معايير الريادة العالمية </p>


            <br />
            <br />
            <h2>:خدمات تدريبية متعددة</h2>
            <p style="font:x-large">.نلتزم بتقديم خدمات تدريبية مختلفة تلبي حاجة عملاءها باختلاف قطاعاتهم مجموعات وأفراد وذلك باحترافية عالية </p>

        </div>












*@






