  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">أهلا بكم في ديوان العرب</h2>



            </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">نسعد بخدمتكم دائما</h2>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">نأمل بأن نكون الشريك المثالي في رحلتك</h2>

            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">نضمن لك خدمة عاليه الجودة</h2>

            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">
                    نوفر لعملاءنا جميع الحجوزات الفندقية بأقل الاسعار
                </h2>

            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>


    </div>
</section><!-- End Hero -->





<!--  services section -->
    <section  class="service-details">
        <div class="container ">

            @*
        <h1 class="title-big text-center" style="font-size:40px;">
            خدماتنا
        </h1>

            *@
            <div class="row">



                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div>
                            <div class="card-img">
                                <img src="~/Content/Image/For_Reser/aaaa.jpg" alt="" class="img-fluid service-image" />


                            </div>
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align:center ;font-size:30px">الاماكن السياحية</h4>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div>
                            <div class="card-img">
                                <img src="~/Content/Image/For_Reser/الفنادق.jpg"  alt="" class="img-fluid service-image" />

                            </div>
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align:center ;font-size:30px"> الفنادق </h4>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/pexels-jonathan-borba-4687906.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align:center ;font-size:30px"> السياحة الطبية</h4>
                        </div>
                    </div>
                </div>




                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/For_Reser/تخليص اجراءات الوصول والسفر في المطار.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px">اسقبال مطار</h4>
                        </div>
                    </div>
                </div>


            </div>

            <br />
            <br />


            <div class="row ">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">

                            <img src="~/Content/Image/For_Reser/التسويق العقاري.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px"> التسويق العقاري</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/For_Reser/تسهيل اجراءات الطلبة.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px">تسهيل اجراءات الطلبة الوافدين</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/For_Reser/السيارات والانتقالات.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px">السيارات والانتقالات</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/For_Reser/تنظيم المعارض والمؤتمرات.png" alt="" class="img-fluid service-image" />

                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px">تنظيم المعارض والمؤتمرات </h4>
                        </div>
                    </div>
                </div>



            </div>


            <div class="row ">

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/pexels-mikhail-nilov-7731330.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px"> المساعدة في تسهيل الاجرأت الحكومية </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card">
                        <div class="card-img">
                            <img src="~/Content/Image/pexels-pixabay-48148.jpg" alt="" class="img-fluid service-image" />
                        </div>
                        <div class="card-body">
                            <br />
                            <h4 style="text-align: center; font-size: 30px"> استشارات قانونية و عقود تجارية</h4>
                        </div>
                    </div>
                </div>


            </div>
            <br />
            <br />




        </div>
    </section>



@*

    <section class="w3l-main-slider  banner-slider" id="home">

        <div class="slider-info banner-view banner-top1 ">

            <div class="banner-info ">
                <div class="container text-center">
                    <div class="container text-center ">
                        <div class="banner-info-bg fa fa">
                            <br />
                            <br />
                            <h5>  أهلا بكم في ديوان العرب   </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!--  services section -->
    <div class="w3l-servicesblock2" id="services">
        <section id="grids5-block" class="py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <h1 class="title-big text-center" style="font-size:40px;">
                    خدماتنا
                </h1>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-andrea-piacquadio-3771110.jpg" alt="" class="img-fluid service-image" />

                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align:center ;font-size:30px"><a href="#service">الفنادق والاماكن السياحية</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-jonathan-borba-4687906.jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align:center ;font-size:30px"><a href="#service">السياحة الطبية</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">

                                <img src="~/Content/Image/pexels-buro-millennial-1438072.jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align: center; font-size: 30px"><a href="#service">تسهيل اجراءات الطلبة الوافدين </a></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <br />


                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-ketut-subiyanto-4247752 (1).jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align: center; font-size: 30px"><a href="#service"> التسويق العقاري</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-andre-furtado-3126901.jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align: center; font-size: 30px"><a href="#service">السيارات والانتقالات</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-rdne-stock-project-7648044.jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align: center; font-size: 30px"><a href="#service">تنظيم المعارض والمؤتمرات </a></h4>
                            </div>
                        </div>
                    </div>
                </div>



                <br />
                <br />


                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-pixabay-48148.jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align: center; font-size: 30px"><a href="#service"> استشارات قانونية و عقود تجارية</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/pexels-mikhail-nilov-7731330.jpg" alt="" class="img-fluid service-image" />
                            </a>
                            <div class="blog-info">
                                <br />
                                <h4 style="text-align: center; font-size: 30px"><a href="#service"> المساعدة في تسهيل الاجرأت الحكومية </a></h4>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </section>
    </div>

*@
















@*
    <!-- stats -->
    <section class="w3_stats py-lg-0 py-5" id="stats">
        <div class="container">
            <div class="w3-stats">
                <div class="row">
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                            <p class="count-text">التواصل مع الأعضاء</p>

                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                            <p class="count-text ">تحسين ومعرفة المهارات المهنية</p>

                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                            <p class="count-text"> أحصل على فرصتك </p>

                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-5">
                        <div class="counter" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">

                            <p class="count-text">مستجدات الحوكمة</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //stats -->
    <!-- about section -->
    <section class="w3l-text-6 py-5" id="about">
        <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
            <div class="container">
                <div class="row top-cont-grid align-items-center">
                    <div class="col-lg-6 left-img pr-lg-4">
                        <img src="~/Content/Image/openbooks.jpg" alt="" class="img-responsive radius-image img-fluid" />
                    </div>
                    <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                        <h1>  المعرفة المتخصصة والتوجيه</h1>
                        <br />
                        <h5>
                            يقوم المعهد بعمل نشرة إخبارية إلكترونية تغطي أحدث أخبار الحوكمة والجديد في مكتبة موارد الحوكمة على الإنترنت. يمكن للأعضاء البحث والوصول إلى المستندات والمقالات والنصائح المهنية التي تساعدهم في تجويد أدائهم. كما يمكن للأعضاء أن يساهموا في النشرة الإخبارية للمعهد بما لديهم من خبرات وأخبار، مما يمنحهم الفرصة للظهور وتعريف الآخرين بهم وبخبراتهم
                        </h5>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->
    <!-- about section -->
    <section class="w3l-text-6 py-5" id="about">
        <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
            <div class="container">
                <div class="row top-cont-grid align-items-center">

                    <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                        <h1>  التواصل وتبادل وجهات النظر</h1>
                        <br />
                        <h5>
                            يمكن للأعضاء الوصول الكامل إلى أي تحديثات للتشريعات وقوانين الحوكمة المتاحة من خلال بوابة المعهد التي تحتوي على هذه المعلومات، ومواكبة أحدث المعلومات حول الاتجاهات العالمية - تلقي تحديثات حول المعلومات والنشرات الإخبارية المنتظمة – النشرات الشهرية عن اتجاهات الحوكمة في المنطقة وخارجها بالإضافة إلى مجلة حوكمة وأوراق المعهد البحثية
                        </h5>


                    </div>

                    <div class="col-lg-6 right-img pr-lg-4">
                        <img src="~/Content/Image/Screenshot 2022-04-28 013742.png" alt="" class="img-responsive radius-image img-fluid" />

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->
    <!-- about section -->
    <section class="w3l-text-6 py-5" id="about">
        <div class="text-6-mian py-lg-5 py-md-4" style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center;margin-left:50px;margin-right:50px">
            <div class="container">
                <div class="row top-cont-grid align-items-center">
                    <div class="col-lg-6 left-img pr-lg-4">
                        <img src="~/Content/Image/6556-7mm.jpg" alt="" class="img-responsive radius-image img-fluid" />
                    </div>
                    <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4">
                        <h1>  دعم أعضاء مجلس الإدارة</h1>
                        <br />
                        <h5>
                            أعضاء معهد حوكمة يمكنهم الحصول على الدعم الفني والمشورة الخاصة بمجلس الإدارة واللجان التابعة له من فريق معهد حوكمة. وتهدف هذه الخدمة لمساعدة أعضاء مجلس الإدارة، خاصةً حديثي العهد بالمجلس، من الحصول على الدعم اللازم للتعامل مع مشاكل وتحديات عضوية المجلس
                        </h5>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->




*@




@*<div class="w3l-servicesblock2" id="services">
        <section id="grids5-block" class="py-5">
            <div class="container py-lg-5 py-md-4 py-2">
                <br />
                <br />
                <br />
                <br />
                <br />

                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/openbooks.jpg" alt="" class="img-fluid service-image" />

                            </a>
                            <h2><br />المعرفة المتخصصة والتوجيه</h2>
                            <br />
                            <p>
                                يقوم المعهد بعمل نشرة إخبارية إلكترونية تغطي أحدث أخبار الحوكمة والجديد في مكتبة موارد الحوكمة على الإنترنت. يمكن للأعضاء البحث والوصول إلى المستندات والمقالات والنصائح المهنية التي تساعدهم في تجويد أدائهم. كما يمكن للأعضاء أن يساهموا في النشرة الإخبارية للمعهد بما لديهم من خبرات وأخبار، مما يمنحهم الفرصة للظهور وتعريف الآخرين بهم وبخبراتهم
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/Screenshot 2022-04-28 013742.png" alt="" class="img-fluid service-image" />

                            </a>
                            <h2><br />التواصل وتبادل وجهات النظر</h2>
                            <br />
                            <p>
                                يمكن للأعضاء الوصول الكامل إلى أي تحديثات للتشريعات وقوانين الحوكمة المتاحة من خلال بوابة المعهد التي تحتوي على هذه المعلومات، ومواكبة أحدث المعلومات حول الاتجاهات العالمية - تلقي تحديثات حول المعلومات والنشرات الإخبارية المنتظمة – النشرات الشهرية عن اتجاهات الحوكمة في المنطقة وخارجها بالإضافة إلى مجلة حوكمة وأوراق المعهد البحثية
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom">
                                <img src="~/Content/Image/6556-7mm.jpg" alt="" class="img-fluid service-image" />

                            </a>
                            <h2><br />دعم أعضاء مجلس الإدارة</h2>
                            <br />
                            <p>
                                أعضاء معهد حوكمة يمكنهم الحصول على الدعم الفني والمشورة الخاصة بمجلس الإدارة واللجان التابعة له من فريق معهد حوكمة. وتهدف هذه الخدمة لمساعدة أعضاء مجلس الإدارة، خاصةً حديثي العهد بالمجلس، من الحصول على الدعم اللازم للتعامل مع مشاكل وتحديات عضوية المجلس
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
        </section>

    </div>*@
