
@{
    ViewBag.Title = "Message";
}


@{
    ViewBag.Title = "message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-banner ">
    <section class="w3l-breadcrumb text-left">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
            </ul>
        </div>
    </section>
</div>
<div style=" background-image: url('../../Content/Image/pexels-scott-webb-5112009.jpg');">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="text-align:center">
        <img src="~/Content/Image/check.png" width="100 " height="100" />
    </div>
    <br />
    <h3 style="text-align: center; color: black">تم ارسال رسالتك بنجاح</h3>

    <br />
    <h2 class="title-big " style="text-align:center;color:black">شكرا لتواصلك معنا</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>