
@{
    ViewBag.Title = "mail_Manage";
}
<!-- ======= Hero Section ======= -->
<section id="hero1" class="d-flex justify-cntent-center align-items-center">
</section><!-- End Hero -->



<br />
<br />

<br />
<br />

<div class="slider-info banner-view bg bg2 ">

    <div class="banner-info ">
        <div class="container text-center">
            <div class="container text-center ">
                <div class="banner-info-bg " style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center ;align-items:center">


                    <h3> الاميلات</h3>
                    <p>
                        ceo@gov-egy.com
                    </p>
                    <p>info@gov-egy.com</p>
                    <p>pr@gov-egy.com</p>
                    <p>cs@gov-egy.com</p>
                    <br />
                    <p>All Emails Password:-</p>
                    <p>GOvegy123@123##@@</p>
                    <br />
                    <br />
                    <div class="btn btn-info " style="align-items: center">
                        <a href="https://cmx6.my-hosting-panel.com/" class=""> <b> ادارة الاميلات </b> </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
