<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">


        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown" style="color:white">خدماتنا</h2>
                
                <p class="animate__animated animate__fadeInUp"> نعمل بجد لجعل تجربتك في السفر مريحة وممتعة كما نقدم لك إختيارات متكاملة لاحتياجات سفرك بدءًا من حجوزات الفنادق و استقبال المطار والسيارات وصولاً إلى تنظيم الرحلات المميزة </p>
                

            </div>
        </div>
    </div>

</section><!-- End Hero -->




<!-- middle -->
<!-- //services page services section -->
<section class="services">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class=" row">







            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue" style="box-shadow:10px black">
                    <span class="fa fa-car"></span>
                    <h4><a href="#top5" class="title-head">السيارات والانتقالات</a></h4>

                </div>
            </div>



            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-building"></span>
                    <h4><a href="#top4" class="title-head">  التسويق العقاري</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-stethoscope"></span>
                    <h4><a href="#top2" class="title-head">  السياحية الطبية</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">

                    <span class="fa fa-hotel"></span>
                    <h4><a href="#top1" class="title-head">الفنادق والاماكن السياحية</a></h4>

                </div>
            </div>



            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-users"></span>
                    <h4><a href="#top3" class="title-head"> تسهيل اجراءات الطلبة الوافدين</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-line-chart"></span>
                    <h4><a href="#top6" class="title-head"> تنظيم المعارض والمؤتمرات</a></h4>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-paper-plane"></span>
                    <h4><a href="#top7" class="title-head"> استشارات قانونية و عقود تجارية</a></h4>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-binoculars"></span>
                    <h4><a href="#ssss" class="title-head"> تخليص اجراءات الوصول والسفر في المطار</a></h4>

                </div>
            </div>


            <div class="col-lg-3 col-md-6 grids-feature mt-4">
                <div class="icon-box icon-box-blue">
                    <span class="fa fa-binoculars"></span>
                    <h4><a href="#top8" class="title-head"> المساعدة في تسهيل الاجرأت الحكومية</a></h4>

                </div>
            </div>
        </div>
    </div>
</section>






<!--11 about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/pexels-helena-lopes-2017802.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4" style="text-align:right">
                    <h3 class="title-big mw-100" id="top1" style="text-align:right">الفنادق والاماكن السياحية</h3>
                    <p class="mt-md-4 mt-3">
                        خدمة التسويق السياحي والفندقي تشمل مجموعة من الخدمات والأنشطة التي تستهدف تعزيز القطاع السياحي والفندقي في مصر. إليك بعض التفاصيل الإضافية حول هذه الخدمة:
                    </p>
                    <p class="mt-3">

                        تسويق الفنادق والمنتجعات: تقديم خدمات الترويج والتسويق للفنادق والمنتجعات في مصر لجذب النزلاء الوافدين من مختلف أنحاء العالم. يشمل ذلك إدارة حملات الإعلان عبر الإنترنت ووسائل التواصل الاجتماعي.
                    </p>
                    <p class="mt-3">

                        الترويج للفعاليات السياحية: تنظيم وتسويق الفعاليات السياحية مثل المهرجانات والمعارض والأحداث الثقافية لجذب الزوار والمشاركين من الداخل والخارج.
                    </p>

                    <p class="mt-3">

                        تقديم معلومات سياحية: توفير معلومات سياحية محدثة عن مصر ومعالمها السياحية والأنشطة التي يمكن للزوار القيام بها، سواء عبر مواقع الإنترنت أو وسائل الاتصال الأخرى.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!--22 about section -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="content-info-in row align-items-center">
                <div class="content-left col-lg-6" style="text-align:right">
                    <h3 class="title-big mw-100" id="top2"> السياحية الطبية</h3>
                    <p class="mt-md-4 mt-3">
                        نسعى نحن إلى توفير رعاية صحية متميزة ومتخصصة للمرضى الدوليين في مصر، وتهدف إلى تحقيق الريادة في مجال السياحة الطبية في المنطقة.

                    </p>
                    <p class="mt-3">
                        حجز المواعيد والمرافق الطبية: توفير خدمات حجز المواعيد في المستشفيات والعيادات المتخصصة في مصر بناءً على احتياجات المرضى.
                    </p>
                    <p class="mt-3">

                        معلومات واستشارات طبية: توفير معلومات طبية شاملة حول الخدمات والإجراءات الطبية المتوفرة في مصر واستشارات طبية للمرضى.
                    </p>
                    <p class="mt-3">

                        التنسيق مع الأطباء والمتخصصين: التعامل مع فرق طبية متخصصة لضمان تقديم أفضل الرعاية الصحية للمرضى.

                    </p>
                    <p class="mt-3">

                        الريادة والجودة: تهتم الشركة بتحقيق أعلى معايير الجودة في الرعاية الصحية والخدمات السياحية، وتعمل بالتعاون مع مرافق طبية معترف بها وأطباء محترفين.

                    </p>

                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5">
                    <img src="~/Content/Image/pexels-pixabay-40568.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>


<!--33 about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/pexels-andrea-piacquadio-3769981.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4" style="text-align:right">
                    <h3 class="title-big mw-100" id="top3">تسهيل اجراءات الطلبة الوافدين</h3>
                    <p class="mt-md-4 mt-3">
                        مساعدة في تقديم الطلبات: تقديم دعم للطلاب في ملء طلبات القبول للجامعات أو المؤسسات التعليمية المختارة، بما في ذلك تقديم المستندات المطلوبة.
                    </p>
                    <p class="mt-3">

                        مساعدة في الحصول على تأشيرات الدراسة: تقديم دعم في إجراءات الحصول على تأشيرات الدراسة، بما في ذلك تقديم المعلومات حول الاشتراطات والمتطلبات ومساعدة في إعداد الوثائق اللازمة.

                    </p>
                    <p class="mt-3">

                        دعم في البحث عن سكن: مساعدة الطلاب في العثور على سكن مناسب قرب المؤسسة التعليمية، سواء كان ذلك في السكن الجامعي أو الشقق الخاصة.

                    </p>

                    <p class="mt-3">

                        دعم للتكيف الثقافي: توفير معلومات حول الحياة اليومية في البلد المستهدف، والعادات والتقاليد، وتوجيه الطلاب حول كيفية التكيف مع البيئة الجديدة.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!--44 about section -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="content-info-in row align-items-center">
                <div class="content-left col-lg-6" style="text-align:right">
                    <h3 class="title-big mw-100" id="top4">التسويق العقاري</h3>
                    <p class="mt-md-4 mt-3">
                        استشارة وتقييم الاحتياجات: تقديم جلسات استشارية للوافدين لفهم احتياجاتهم العقارية وتحديد المواصفات المطلوبة للعقار المناسب.
                    </p>
                    <p class="mt-3">
                        البحث والاختيار: القيام بعمليات بحث مكثفة للوافدين للعثور على العقارات المتاحة في مناطقهم المفضلة والمتوافقة مع ميزانيتهم واحتياجاتهم.

                    </p>
                    <p class="mt-3">

                        جولات عقارية: تنظيم جولات عقارية للوافدين لزيارة العقارات المختارة واستعراضها على الأرض.

                    </p>
                    <p class="mt-3">

                        التقييم والمشورة: تقديم تقييم مهني للعقارات المعروضة بما في ذلك تقدير القيمة السوقية والتوجيه حول العروض المناسبة.


                    </p>
                    <p class="mt-3">

                        التفاوض وإجراءات الشراء: تقديم دعم في عمليات التفاوض مع البائعين أو المؤجرين، وإعداد العقود والوثائق القانونية اللازمة.


                    </p>

                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5">
                    <img src="~/Content/Image/bigstock-Business-Man-Select-Modern-Hou-190646428-e1535217901956-585x390.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>


<!--55 about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/pexels-ruiyang-zhang-3717291.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4" style="text-align:right">
                    <h3 class="title-big mw-100" id="top5"> السيارات والانتقالات</h3>
                    <p class="mt-md-4 mt-3">
                        استقبال في المطار: ترتب الشركة لاستقبال الوافدين في المطار الدولي عند وصولهم إلى مصر. هذا يتيح لهم بداية مريحة ومأمونة لرحلتهم.

                    </p>
                    <p class="mt-3">

                        سيارات خاصة: توفير سيارات خاصة مجهزة بسائقين محترفين لنقل الوافدين إلى وجهتهم في مصر، سواء كانت فنادق أو شقق سكنية أو مؤسسات تعليمية.

                    </p>
                    <p class="mt-3">

                        توصيل إلى المواقع السياحية: تقديم خدمات الانتقال إلى المواقع السياحية الرئيسية في مصر، مثل الأهرامات ومعابدها ومتاحف ومناطق أخرى مشهورة.

                    </p>

                    <p class="mt-3">

                        الرحلات السياحية: تنظيم رحلات سياحية مخصصة للوافدين لاستكشاف معالم سياحية مختلفة في مصر، بما في ذلك الرحلات الثقافية والترفيهية.

                    </p>
                    <p class="mt-3">

                        خدمات إضافية: تقديم خدمات إضافية مثل تأجير السيارات للاستخدام الشخصي أو السفر خارج مصر.


                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!--66 about section -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="content-info-in row align-items-center">
                <div class="content-left col-lg-6" style="text-align:right">
                    <h3 class="title-big mw-100" id="top6">تنظيم المعارض والمؤتمرات</h3>
                    <p class="mt-md-4 mt-3">
                        التخطيط والتنسيق: تقديم خدمات التخطيط الشاملة للحدث بدءًا من وضع الأهداف والميزانية واختيار المكان المناسب وتحديد الجدول الزمني.

                    </p>
                    <p class="mt-3">
                        التسويق والإعلان: تصميم استراتيجيات تسويق متقدمة للحدث، بما في ذلك إنشاء موقع ويب واجتماعي وترويج عبر وسائل الإعلام المختلفة لجذب الجمهور المستهدف.


                    </p>
                    <p class="mt-3">

                        التسجيل والتسجيل المسبق: إنشاء نظام تسجيل وتوزيع التذاكر عبر الإنترنت وإدارة قوائم المشاركين وتلقي الدفعات المالية.


                    </p>
                    <p class="mt-3">

                        تنسيق المعارض: توفير مساحة معرض مخصصة للعارضين لعرض منتجاتهم أو خدماتهم وإعداد واجهات وكشتات جذابة.



                    </p>
                    <p class="mt-3">

                        تنظيم الجلسات والمحاضرات: ترتيب جلسات ومحاضرات تقنية أو تعليمية أو حوارية بناءً على موضوع الحدث ودعوة المتحدثين المحترفين.



                    </p>

                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5">
                    <img src="~/Content/Image/pexels-rdne-stock-project-7648472.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>



<!--77 about section -->
<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-lg-5 py-md-4">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="~/Content/Image/pexels-rdne-stock-project-7841486.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mt-lg-0 mt-md-5 mt-4" style="text-align:right">
                    <h3 class="title-big mw-100" id="top7"> استشارات قانونية و عقود تجارية</h3>
                    <p class="mt-md-4 mt-3">
                        استشارات قانونية: تقديم استشارات قانونية مخصصة للعملاء الوافدين لتوجيههم حول القوانين واللوائح المصرية المتعلقة بأنشطتهم التجارية أو الاستثمارية.


                    </p>
                    <p class="mt-3">

                        صياغة العقود: صياغة وإعداد العقود التجارية المختلفة، مثل عقود الشراكة والاستثمار والتوزيع والعقود العامة والخاصة وغيرها، بحيث تحقق المصلحة القانونية للعميل.


                    </p>
                    <p class="mt-3">

                        تقديم مشورة حول التراخيص: توفير مشورة حول الإجراءات المطلوبة للحصول على التراخيص والتصاريح اللازمة لبدء وتشغيل الأعمال التجارية في مصر.


                    </p>

                    <p class="mt-3">

                        حل النزاعات: مساعدة العملاء في حل النزاعات القانونية التي قد تنشأ أثناء تنفيذ العقود أو التعاملات التجارية.


                    </p>
                    <p class="mt-3">

                        متابعة التشريعات: تتبع ومراقبة التغييرات القانونية والتشريعات الجديدة في مصر وتوجيه العملاء بشكل مناسب للامتثال للقوانين الحالية.



                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->
<!--88 about section -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="content-info-in row align-items-center">
                <div class="content-left col-lg-6" style="text-align:right">
                    <h3 class="title-big mw-100" id="top8">المساعدة في تسهيل الاجرأت الحكومية</h3>
                    <p class="mt-md-4 mt-3">
                        استشارات قانونية: تقديم استشارات قانونية للوافدين حول الإجراءات الحكومية المتعلقة بإقامتهم أو نشاطهم في مصر والقوانين المتعلقة بذلك.


                    </p>
                    <p class="mt-3">
                        توجيه حول الإجراءات: توجيه الوافدين حول الإجراءات اللازمة للحصول على التراخيص والتصاريح الحكومية الضرورية.



                    </p>
                    <p class="mt-3">

                        إعداد المستندات: مساعدة العملاء في إعداد وتقديم المستندات والوثائق المطلوبة للجهات الحكومية.



                    </p>
                    <p class="mt-3">

                        متابعة الإجراءات: متابعة الإجراءات الحكومية من خلال التواصل مع الجهات المعنية ومعالجة أية مشكلات أو تأخيرات تنشأ.




                    </p>
                    <p class="mt-3">

                        توفير ممثلين محليين: توفير ممثلين محليين يمكنهم التفاوض والتواصل باللغة العربية مع السلطات الحكومية نيابة عن العملاء.




                    </p>

                </div>
                <div class="content-right col-lg-6 mt-lg-0 mt-5">
                    <img src="~/Content/Image/For_Reser/pexels-rdne-stock-project-7841479.jpg" alt="" class="img-responsive radius-image img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>



















<br />
<br />


<br />
<br />
